{% extends "/base/default_page.html" %}
{% import "/components/dialogs.html" as dialog %}
{% import "/components/paginations.html" as paginations %}
{% import "base/html_renderer.html" as renderer %}


{% set title_page="จัดการผู้ใช้งาน" %}
{% set description_page="ตั้งค่าผู้ใช้งานและสิทธิ์การเข้าถึงระบบ" %}

{% block content %}
<div id="create-edit-user"></div>
<div id="delete-user"></div>
<div id="login-history-modal"></div>
<div class="bg-base-200 h-9 w-fit items-center justify-center rounded-xl p-[3px] flex" id="user-tabs">
  <input type="radio" name="user_role" class="tab checked:bg-white checked:rounded-xl checked:py-1"
    aria-label="ผู้ใช้งาน" checked="checked" />
  <input type="radio" name="user_role" class="tab checked:bg-white checked:rounded-xl checked:py-1"
    aria-label="บทบาทและสิทธิ์" />
  <!-- <input type="radio" name="user_role" class="tab checked:bg-white checked:rounded-xl checked:py-1"
    aria-label="กิจกรรมการใช้งาน" /> -->

</div>
<div class="bg-white rounded-3xl border-1 border-gray-300 p-6 mt-4" id="users">
  <div class="flex flex-col md:flex-row justify-between gap-4">
    <h4 class="max-w-sm min-w-32">
      รายการผู้ใช้งาน
    </h4>
    {% if current_user.get_denominations()|length > 1 %}
    <form action="{{ url_for('users.index') }}" method="get"
      class="flex md:flex-row flex-col gap-2 w-full items-end justify-end flex-wrap">
      <div class="flex md:flex-row flex-col gap-2 flex-wrap justify-end max-md:w-full">
        <div class="flex md:w-80 w-full">
          {{ renderer.render_select_field(form.denomination) }}
        </div>
        <div class="flex md:w-80 w-full">
          {{ renderer.base_render(form.search, placeholder="ค้นหาชื่อผู้ใช้งาน, ชื่อที่แสดง, บทบาท, สถานะ") }}
        </div>
      </div>
      <div class="flex gap-2 w-full md:mb-5 md:w-auto justify-end">
        <button class="btn-ghost-orange">
          <span class="material-symbols-outlined">
            search
          </span>
          ค้นหา
        </button>
        <button class="btn btn-orange" hx-target="#create-edit-user"
          hx-get="{{ url_for('users.create_or_edit', **request.args) }}" type="button">
          <span class="material-symbols-outlined">
            add
          </span>
          เพิ่มผู้ใช้งาน</button>
      </div>
    </form>
    {% else %}
    <div class="flex gap-2 md:flex-row flex-col items-end w-full">

      <form action="{{ url_for('users.index') }}" method="get"
        class="flex md:flex-row flex-col gap-2 w-full items-end justify-end">
        <div class="flex md:w-80 w-full">
          {{ renderer.base_render(form.search, placeholder="ค้นหาชื่อผู้ใช้งาน, ชื่อที่แสดง, บทบาท, สถานะ") }}
        </div>
        <div class="flex gap-2 w-full md:mb-5 md:w-auto justify-end">
          <button class="btn-ghost-orange">
            <span class="material-symbols-outlined">
              search
            </span>
            ค้นหา
          </button>
          <button class="btn btn-orange" hx-target="#create-edit-user"
            hx-get="{{ url_for('users.create_or_edit', **request.args) }}" type="button">
            <span class="material-symbols-outlined">
              add
            </span>
            เพิ่มผู้ใช้งาน</button>
        </div>
      </form>
    </div>
    {% endif %}
  </div>
  <div class="overflow-x-auto mt-4">
    <table class="w-full">
      <thead>
        <tr class="border-b border-gray-200">
          <th class="text-left py-3 px-4 text-gray-600">ชื่อผู้ใช้งาน</th>
          <th class="text-left py-3 px-4 text-gray-600">ชื่อที่แสดง</th>
          <th class="text-left py-3 px-4 text-gray-600">บทบาท</th>
          {% if current_user.get_denominations()|length > 1 %}
          <th class="text-left py-3 px-4 text-gray-600">นิกาย</th>
          {% endif %}
          <th class="text-left py-3 px-4 text-gray-600">สถานะ</th>
          <th class="text-left py-3 px-4 text-gray-600">เข้าใช้งานล่าสุด</th>
          <th class="text-left py-3 px-4 text-gray-600">การจัดการ</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users_pagination.items %}
        <tr class="hover:bg-base-100">
          <td class="py-3 px-4">{{ user.username }}</td>
          <td class="py-3 px-4">{{ user.display_name }}</td>
          <td class="py-3 px-4 min-w-72 gap-2">
            <div class="flex flex-wrap gap-2">
              {% for role in user.get_display_roles() %}
              <div class="badge bg-white border border-orange-500 text-orange-500">
                <span>{{ role }}</span>
              </div>
              {% endfor %}
            </div>
          </td>
          {% if current_user.get_denominations()|length > 1 %}
          <td class="py-3 px-4 min-w-32 gap-2">
            <div class="flex flex-wrap gap-2">
              {% for denomination in user.get_denominations() %}
              <div class="badge bg-white border border-blue-500 text-blue-500">
                <span>{{ denomination.name }}</span>
              </div>
              {% endfor %}
            </div>
          </td>
          {% endif %}
          <td class="py-3 px-4">
            <span
              class="badge text-white w-32 {{ 'bg-green-500' if user.status == 'active' else ('bg-red-500' if user.status == 'disactive' else 'bg-black') }}">
              {{ user.get_status_display() }}</span>
          </td>
          <td class="py-3 px-4 text-gray-400 min-w-[160px]">
            {{ user.last_login_date.strftime('%Y-%m-%d %H:%M') if user.last_login_date else '-' }}
          </td>
          <td class="py-3 px-4">
            <div class="flex lg:flex-row flex-col">

              <button class="btn btn-sm btn-ghost hover:bg-purple-100/50 hover:border-0 border-0 hover:text-purple-700"
                hx-target="#login-history-modal" hx-get="{{ url_for('users.login_history', user_id=user.id) }}">
                <span class="material-symbols-outlined">
                  history
                </span>
              </button>
              <button class="btn btn-sm btn-ghost hover:bg-orange-100/50 hover:border-0 border-0 hover:text-orange-700"
                hx-target="#create-edit-user"
                hx-get="{{ url_for('users.create_or_edit', user_id=user.id, **request.args) }}">
                <span class="material-symbols-outlined">
                  edit_square
                </span>
              </button>
              <a class="btn btn-sm btn-ghost hover:bg-sky-100/50 hover:border-0 border-0 hover:text-sky-700"
                href="{{ url_for('users.create_or_edit_roles', user_id=user.id, **request.args) }}">
                <span class="material-symbols-outlined">
                  person_edit
                </span>
              </a>
              <button
                class="btn btn-sm btn-ghost hover:bg-red-100/50 hover:border-0 border-0 text-red-500 hover:text-red-700"
                onclick="$('#{{user.id}}-delete-dialog')[0].showModal()">
                <span class="material-symbols-outlined">
                  delete
                </span>
              </button>
              {{ dialog.DisactiveDialog(
              id="%s-delete-dialog" | format(user.id),
              title="ยืนยันการลบผู้ใช้งาน",
              body="คุณต้องการที่จะลบผู้ใช้งานชื่อ <b>%s</b> ใช่หรือไม่?" | format(user.display_name),
              url=url_for("users.delete",
              user_id=user.id, **request.args)
              )}}
            </div>

          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {{ paginations.render_pagination(
      pagination=users_pagination,
      endpoint='users.index',
      key_page='page',
      kwargs=request.args.to_dict()
    ) }}
  </div>
</div>

{% macro role_description(name, description, watch_only=false) %}
<div class="p-4 border border-gray-200 rounded-lg">
  <div class="flex items-center justify-between">
    <div>
      <h3 class="text-gray-900 mb-1">{{ name }}</h3>
      <p class="text-sm text-gray-600">{{ description }}</p>
    </div>
    <span class="material-symbols-outlined text-orange-700">
      {{'shield' if not watch_only else 'visibility'}}
    </span>
  </div>
</div>
{% endmacro %}
<div class="bg-white rounded-3xl border-1 border-gray-300 p-6 mt-4" id="roles-permissions" style="display: none;">
  <div class="grid auto-rows-min grid-rows-[auto_auto] items-start gap-1.5">
    <h4 class="leading-none mb-2">บทบาทและสิทธิ์การใช้งาน</h4>
  </div>
  <div class="px-6 grid grid-cols-1 md:grid-cols-2 gap-6 mt-4">
    <div class="space-y-4">
      {{ role_description(
        name="ผู้ดูแลระบบ",
        description="จัดการข้อมูลทั้งหมดในระบบ รวมถึงการตั้งค่าผู้ใช้งานและสิทธิ์การเข้าถึงระบบ",
      ) }}
      {{ role_description(
        name="ผู้ดูแลเขตปกครอง (ภาค)",
        description="จัดการข้อมูลภายในเขตปกครองที่รับผิดชอบ",
      ) }}
      {{ role_description(
        name="ผู้ดูแลสมณศักดิ์",
        description="จัดการข้อมูลสมณศักดิ์ภายในนิกายที่รับผิดชอบ",
      ) }}

      {{ role_description(
        name="ผู้ดูแลจังหวัด",
        description="จัดการข้อมูลภายในจังหวัดที่รับผิดชอบ",
      ) }}
      {{ role_description(
        name="ผู้ดูแลอำเภอ/เขต",
        description="จัดการข้อมูลภายในอำเภอที่รับผิดชอบ",
      ) }}
      {{ role_description(
        name="ผู้ดูแลตำบล/แขวง",
        description="จัดการข้อมูลภายในตำบลที่รับผิดชอบ",
      ) }}
      {{ role_description(
        name="ผู้ดูแลวัด",
        description="จัดการข้อมูลวัดที่รับผิดชอบ",
      ) }}
      {{ role_description(
        name="ผู้ใช้ทั่วไป",
        description="ดูรายงานและข้อมูลทั่วไป",
        watch_only=false,
      ) }}

    </div>
    <div class="space-y-4">
      {{ role_description(
        name="ผู้ดูแลระบบ (ดูได้อย่างเดียว)",
        description="เข้าถึงข้อมูลทั้งหมดในระบบ แต่ไม่สามารถแก้ไขข้อมูลได้",
        watch_only=true,
      ) }}
      {{ role_description(
        name="ผู้ดูแลเขตปกครอง (ภาค) (ดูได้อย่างเดียว)",
        description="เข้าถึงข้อมูลภายในเขตปกครองที่กำหนด แต่ไม่สามารถแก้ไขข้อมูลได้",
        watch_only=true,
      ) }}
      {{ role_description(
        name="ผู้ดูแลสมณศักดิ์ (ดูได้อย่างเดียว)",
        description="เข้าถึงข้อมูลสมณศักดิ์ภายในนิกายที่กำหนด แต่ไม่สามารถแก้ไขข้อมูลได้",
        watch_only=true,
      ) }}

      {{ role_description(
        name="ผู้ดูแลจังหวัด (ดูได้อย่างเดียว)",
        description="เข้าถึงข้อมูลภายในจังหวัดที่กำหนด แต่ไม่สามารถแก้ไขข้อมูลได้",
        watch_only=true,
      ) }}
      {{ role_description(
        name="ผู้ดูแลอำเภอ/เขต (ดูได้อย่างเดียว)",
        description="เข้าถึงข้อมูลภายในอำเภอที่กำหนด แต่ไม่สามารถแก้ไขข้อมูลได้",
        watch_only=true,
      ) }}
      {{ role_description(
        name="ผู้ดูแลตำบล/แขวง (ดูได้อย่างเดียว)",
        description="เข้าถึงข้อมูลภายในตำบลที่กำหนด แต่ไม่สามารถแก้ไขข้อมูลได้",
        watch_only=true,
      ) }}
      {{ role_description(
        name="ผู้ดูแลวัด (ดูได้อย่างเดียว)",
        description="เข้าถึงข้อมูลวัดที่กำหนด แต่ไม่สามารถแก้ไขข้อมูลได้",
        watch_only=true,
      ) }}
      {{ role_description(
        name="ผู้ใช้ทั่วไป (ดูได้อย่างเดียว)",
        description="ดูรายงานและข้อมูลทั่วไป แต่ไม่สามารถแก้ไขข้อมูลได้",
        watch_only=true,
      ) }}

    </div>
  </div>
</div>
<div class="bg-white rounded-3xl border-1 border-gray-300 p-6 mt-4" id="activity-log" style="display: none;">
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tabs = document.querySelectorAll("#user-tabs .tab");
    tabs.forEach((tab) => {
      tab.addEventListener("change", function () {
        if (this.checked) {
          const role = this.getAttribute("aria-label");
          if (role === "ผู้ใช้งาน") {
            document.getElementById("users").style.display = "block";
            document.getElementById("roles-permissions").style.display = "none";
            document.getElementById("activity-log").style.display = "none";
          } else if (role === "บทบาทและสิทธิ์") {
            document.getElementById("users").style.display = "none";
            document.getElementById("roles-permissions").style.display = "block";
            document.getElementById("activity-log").style.display = "none";
          } else if (role === "กิจกรรมการใช้งาน") {
            document.getElementById("users").style.display = "none";
            document.getElementById("roles-permissions").style.display = "none";
            document.getElementById("activity-log").style.display = "block";
          }
        }
      });
    });
  });
</script>
{% endblock %}